@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root{


      --blue-50: #f4f6fb;
      --blue-100: #e7edf7;
      --blue-200: #cbd9ec;
      --blue-300: #9db8dc;
      --blue-400: #6893c8;
      --blue-500: #4474b3;
      --blue-600: #335b96;
      --blue-700: #2a4a7a;
      --blue-800: #264066;
      --blue-900: #243756;
      --blue-950: #111928;
  
  
    
    --grey :#747f8c;
    --bg: #111928;
    
    
    
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}



body {
  background: var(--bg);
  height: 100%;
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 5%;
}


.search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.search-title {
    font-size: 35px;
    font-weight: 800;
  }
  .search-description {
    font-size: 18px;
    font-weight: 200;
  }
  .search-title span{
     color: var(--blue-400);
     font-size: 55px
  }

/* Form */

form {
  display: flex;
  gap: 0;
}
form button {
  background-color: var(--blue-400);
  outline: none;
  border: none;
  color: white;
  padding: 8px 10px;
  margin-right: 0;
  border-radius: 10px 0 0 10px;
}
form input {
  outline: none;
  border: none;
  padding: 8px 200px 8px 5px;
  color: var(--grey);
  border-radius: 0 10px 10px 0;
  width: 100%;
  max-width: 360px;
}

input::placeholder {
  text-align: left;
  color: var(--grey);
  font-weight: 400;
}


/* Card clima */
.weather-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #425c7c;
  border-radius: 12px;
}

.card-container {
  display: flex; 
  flex-direction: column;
  gap: 20px;
}

/* Clima Info  */

.weather-info-container {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}

.weather-title {
  font-size: 35px;
  font-weight: 300;
}

.weather-description {
  font-size: 16px;
  color: rgb(235, 235, 245, 0.6);
}

.weather-temp-container {
  margin-block-start: 10px;
  display: flex;
  align-items: baseline;
}

.weather-temp {
  font-size: 80px;
  font-weight: 300;
}

.weather-st {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 5px 20px;
  border-radius: 10px;
}

/* Clima Temp Max Min */
.weather-extra-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather-minmax-container {
  display: flex;
  flex-direction: column;
}

.weather-span {
  font-size: 25px;
  font-weight: 300;
}

.weather-span i {
  padding: 0 10px;
  font-size: 16px;
  color: var(--blue-400);
}

.weather-humidity {
  border-top: 1px solid var(--blue-400);
  border-bottom: 1px solid var(--blue-400);
  margin-block-start: 15px;
  padding: 5px 30px;
}

footer {
  width: 100%;
  text-align: center;
  padding: 36px;
}

footer span {
    color: var(--blue-400);
    font-weight: 500
}



/* error */
#form__error {
  color: #dc3545;
  font-size: 1rem;
  font-weight: 500;
  margin: 8px 0px;
  max-width: 350px;
  text-align: left;
}
 

@media (max-width: 750px) {
  form input {
    padding: 8px 100px 8px 5px;
  }

  input::placeholder {
    font-size: 0.9rem;
  }

  .weather-card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .weather-info-container,
  .weather-temp-container {
    flex-direction: column;
    align-items: center;
  }
  .weather-title {
    font-size: 50px;
  }
  .weather-description {
    font-size: 20px;
  }

  .weather-img-container img {
    margin: 20px 0;
    width: 100%;
  }
}

@media (max-width: 400px) {
  form input {
    padding: 10px 2px;
  }
  .weather-title {
    font-size: 30px;
  }
  .weather-description {
    font-size: 15px;
  }

  .weather-img-container img {
    margin: 30px 0;
    width: 100%;
  }
}

@media (max-width: 335px) {
  .weather-title {
    font-size: 20px;
  }

}

.animate {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
